**/__pycache__
**/.pytest_cache
**/.classpath
**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
README.md
TODO.md
**/.venv
/test_api/
/test_flask/
/src/
**/*.sqlite3
**/package.json
**/yarn.lock
**/.env